@charset "UTF-8";

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;}
    *{
        min-width: 210px; 
        max-width: 1020px; 
        margin: 0px; 
     
    }

body{
    background-color: white;
    margin:0px!important;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;       
}
p {     
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;  
    color: black;
       
}

header{
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    text-align: center;
    padding-top: 20px;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
        
      
}

header > h1{

    color:white ;
    font-family:cursive ;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);    
    background-size: cover;  
    width: auto; 
    text-align: center;
    width: auto; 
    padding: auto;
    
       
}

p#cabeca{
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.623);
    width: auto;
         
}
#brasao01 {
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    background-size: contain;
    background-position: center;    
} 

nav{
    background-color:#2fa866;
    padding: 10px;
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    width: auto;
    
 }
nav > a{
    color: #d8ebe0;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);  
    text-align: center;
    width: auto;
}
nav > a:hover{
    background-color: #83e1ad; 
    border-radius: 5px; 
    padding: 15px;
}
/*fundo brasao branco */
section.historia{
    background-color: white;
    font-size: 1.1em;
    padding: 20px;
    width: auto;
    border-radius: 10px 10px 10px 10px; 
}

section h2{
    background-color: var(--cor4);
    color:white;
    border-radius: 10px 10px 10px 10px;  
    text-align: center;
    margin-bottom: 20px; 
    height: auto; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
}  

div.fotofreixo{
    background-image: url(capa.jpg); 
    background-position: bottom center;
    border-radius: 10px;
    background-size: cover;
    padding: 20px;
    height: auto;      
}
div.fotofreixo > p{
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;  
    color: white; 
    margin: 30px;
}

div.casa{
    background-image: url(casaL.jpg); 
    background-position: center center;
    background-size: contain; 
    border-radius: 10px;
    padding: 20px;
    height: auto;  
     
   
}
div.casa > p{
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;  
    color: white; 
    margin: 30px;

}

div.aventura{
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    background-position: center center;
    background-size: contain; 
    border-radius: 10px;
    padding: 10px;      
}
  

div{
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    background-position: center center;
    background-size: contain; 
    border-radius: 10px;
    padding: 10px;
}

div > p{
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;  
    color: white; 
    margin: 30px;
}

div h2 {
    background-color: var(--cor4);
    color:white;
    border-radius: 10px 10px 10px 10px;  
    text-align: center;
    margin-bottom: 20px; 
    height: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
}


div.aventura > h2{
    border-radius: 20px;  
    text-align: center;
    margin: 1px; 
    height: auto;  
}

div h3{
    background-color: var(--cor4);
    color: white;  
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

aside{
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.705);
    border-radius: 10px 10px 10px 10px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: "✔️ ";
}

aside h3{
    background-color: var(--cor4);
    color: white;  
    margin: 10px;
    border-radius: 10px 10px 10px 10px;  

}

footer p{
    text-align: center;  
    color: white;  
    font-size: small;   
}
   
   
  

