@charset "UTF-8";

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;}
    *{
        min-width: 210px; 
        max-width: 1350px;    
    }

body{
    background-color: black;
    margin:0px!important;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}

header{
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    text-align: center;
    padding-top: 20px;
    height: 180px;
    border-radius: 10px 10px 0px 0px;      
      
}

header > h1{

    color:white ;
    font-family:cursive ;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);    
    background-size: cover;  
       
}

p#cabeca{
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.623);
         
}
#brasao01 {
    position: absolute;
    left: 100px;
    top: 450px;
    z-index: 1;
    height: 250px;
    opacity: 0.2;
    background-size: cover; 
    
} 
section h2{
    background-color: var(--cor4);
    color:white;
    border-radius: 10px 10px 10px 10px;  
    width: 200px;
    padding: 0px;
   text-align: center;
    
}

nav{
    background-color:#2fa866;
    padding: 10px;
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    
 }
nav > a{
    color: #d8ebe0;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);  
    text-align: center;
}
nav > a:hover{
    background-color: #83e1ad; 
    border-radius: 5px; 
    padding: 15px;
}

p {     
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;  
    color: black;     
}

h2 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 10px 10px;  
    width: 400px;
    padding: 4px;
    text-align: center;
}

h3{
    background-color: #2fa866;
    color: white;
    padding: 3px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 10px 10px;
}

section{
    background-color:#c5ebd6;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;  
    color: black;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
}
    
section.par1{
    background-color: white;
    font-size: 1.1em;
    padding: 50px;
    width: auto;
    border-radius: 10px 10px 10px 10px; 
}

article{
    background-color:#3ddc84;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;  
    color: black;
    padding: 30px; 
    border-radius: 0px 0px 10px 10px; 
    background-size: cover;  

}

article{
    border-radius: 10px 10px 10px 10px;
    margin: 0px;
    background-size: cover;
    background-image: url(capa.jpg); 
    background-position: center bottom;
 
}

section#casa{
    background-image: url(casaL.jpg); 
    background-position: center center;
    background-size: cover; 
   
}

div#aventura{
    background-color: #83e1ad;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    background-size: cover;
}

aside{
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.705);
    border-radius: 10px 10px 10px 10px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: "✔️ ";
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 10px 10px;  

}

footer p{
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin: 0;

}
   
   
  

