@charset "UTF-8";

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;}

body{
    background-color: #c5ebd6;
    margin:0px!important;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    text-align: center;
    padding-top: 20px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
   
      
}
header > h1{

    color:white ;
    font-family:cursive ;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623); 
       
}
p#cabeca{
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.623);      
}
nav{
    background-color:#2fa866;
    padding: 10px;
    background-image: linear-gradient(to bottom, #3ddc84, #063d1e);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
 }
nav > a{
    color: #d8ebe0;
    padding: 40px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);

  
}
nav > a:hover{
    background-color: #83e1ad; 
    border-radius: 5px; 
    padding: 15px;

}
#brasao01 {
position: absolute;
left: 300px;
top: 270px;
z-index: 1;
height: 250px;
opacity: 0.2;  

} 

p {     
font-weight: normal;
font-size: 1.2em;
line-height: 2em;
text-align: justify;  
color: black;     
}
section.par1{
    background-color: white;
    font-size: 1.1em;
    padding: 50px;
    border-radius: 10px 10px 10px 10px; 
           
}
article#foto1{
    background-image: url(freixo.jpg);
    background-position: center center;
    border-radius: 10px 10px 10px 10px;
     
    }
    article.imagemFreixo{
        background-color: rgb(19, 18, 18);
        color: white;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.589);
        background-size: cover;
        background-attachment: fixed;
        padding: 50px;
    }
    #atual{
        background-color: rgb(196, 216, 176);
        color: black;
        width: 250px;
    }
    aside{
        background-color: #83e1ad;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.705);
    }
    aside > ul {
        list-style-position: inside;
        columns: 2;
        list-style-type: "✔️ ";
    }
    aside h3{
        background-color: var(--cor4);
        color: white;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
        
    
    }
   
