@charset "UTF-8"
body{
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    } 
    h1 {
   color: rgb(67, 102, 6);
   background-color: burlywood;
   text-align: center;
    }  
    h2{
       color: burlywood;
    }
    p{
   text-align: justify;
    }