@charset "UTF-8"

*{
    background-color: #212226;
        
}

    body{
        background-color: #212226;
        color: #CFF253;
        font-family: Arial, sans-serif;
        margin: auto;
        width: 100%;
            
    }
    main{
        width: 100%;

    }

    nav{    
        color:#CFF253;
        width: 100%;
        margin: auto;

    } 
    .nav1 #th1 {
        word-wrap: break-word; 
        word-break: break-word; 
        white-space: normal; 
        max-width: 200px; 
    }

    nav a{  
        color: #CFF253;
        text-decoration: none;
        padding: 30px;
                  
    }
    .nav1{
        width: 100%;
    }
    
    input{
    background-color: #CFF253;
    padding: 4px;
    border-radius: 8px;
    float: right;
    
}

p{
    color: white;
}


table.skills{
 background-color:rgb(92, 90, 90);border-radius: 10px;
 margin-top: 50px;
 width: 100%;
 
 
    
}

div.projeto{
    background-image: url(fotoTabela.jpeg);
    background-position: top;
    padding: 30px;
    margin-top: 10px;
    width: auto;
    
}
.servico{
    width: 100%;
    
    
}
.servico td {
    border: 1px solid black;
    
}
.visitar{
    background-color:rgb(92, 90, 90);
    border-radius: 15px;

}


/*


    nav a {
        display: block;
        margin: 5px 0;
        padding: 10px;
        text-align: left;
    }

    header, footer {
        padding: 20px 0;
    }

    main {
        padding: 10px;
    }
}








/* Estilo base (aplicado para telas maiores) */

/*
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para dispositivos com telas pequenas (por exemplo, celulares) */

/*@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    nav a {
        padding: 8px 12px;
        display: inline-block;
        margin: 5px;
    }

    header, footer {
        padding: 15px 0;
    }

    main {
        padding: 15px 0;
    }
}

/* Estilos para dispositivos com telas muito pequenas (por exemplo, celulares em retrato) */



  
    

  
   
 
    
   
    