@charset "UTF-8"

* { 
    box-sizing: border-box; 
    max-width: 1024px
    font-family: Arial, Helvetica, sans-serif; 
    
   
    } 
    body{
        background-color: #212226;
        color: #CFF253;
    }
    #nomi{
        margin: 500px;
    }
    a{
        padding: 20px;
            color: #CFF253;
            text-decoration: none;
            margin-left: 30px;
            font-size: 20px; 
            margin: 15px; 
                                 
    }
   
    a:hover{
        background-color: #ad9c8e;
    }
   hr{
    color: #CFF253;
   }
  
th#eu{
color: white;
margin-left: 30px;
  }
 
table.sobremim{
    background-color: darkgray;
    width: 800px;      
}

.projeto{
    background-image: url(foto\ pc.jpeg);
    background-size: contain;  
    
}











  
    

  
   
 
    
   
    