@charset "UTF-8"


 body{
    background-color: #e7c158;
    color: #9D4818;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
            
}
    


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    color: #9D4818;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #9D4818;

}

.navigation {
    display: flex;
    gap: 15px;  /* Space between links nave */
}

.navigation a {
    text-decoration: none;
    color: #9D4818;
    font-size: 1.1em;
}

.search-icon i {
    font-size: 1.5em;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;  /* Stack the logo, nav, and search icon */
        align-items: center;  /* Center the items */
    }

    .navigation {
        margin-top: 10px;
        flex-direction: column;  /* Stack the links vertically */
        align-items: center;
    }

    .navigation a {
        margin: 5px 0;
    }

    .search-icon {
        margin-top: 10px;
    }
}

.sobremim1 p{
    color: black;
}
h2, h3, h4, h5, h6{
    color: #9D4818;
}


table.skills{
border-radius: 10px;
 color: black;
 margin-top: 50px;
 min-width: 375px;
 width: 100%; 
 text-align: center;
    
}

.projeto {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    font-family: Arial, sans-serif;
   
}
.projeto li{
    color: #9D4818;;  
    text-align: justify;   
}
.projeto h2 {
    float: left;
    padding: 70px;
    padding-bottom: 150px;
    font-size: 1.5rem;
    
}
.projeto ol {
    list-style-type: none;
    padding-left: 20px;
}
.projeto li {
    font-size: 1rem;
    margin-bottom: 15px;
}
#botao input {
   
    padding: 10px ;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    table {
        display: block;
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .image {
        text-align: center;
        margin-bottom: 20px;
    }

    .experience {
        padding-left: 0;
    }

    .experience h4 {
        font-size: 16px;
    }

    .experience p {
        font-size: 12px;
    }

    .profissional h2 {
        font-size: 20px;
    }
}


.servico{
    max-width: 1020px;
     min-width: 375px; 
     background-color: #314028;
    
}
.servico td {
    border: 1px solid black;
    
}

#botao2 input {
   
    padding: 10px ;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}





  
   
 
    
   
    