@charset "UTF-8"

main{
    background-color: #9D4818 !important;
}


#nav{
    background-color: #9D4818;

}

#nav a {
    color: white;
    text-shadow: 0px 1px #314028;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    
}

p {
    color: #314028;
    font-size: 1.1em;
}
h2, h3, h4, h5, h6{
    color:#9D4818;
    text-shadow: 0px 1px #9D4818;
   
}

#sobre {
    color: #314028; 
    text-shadow: 0px 1px #9D4818;
}
#sobre2{
    color: #314028; 
    text-shadow: 0px 1px #9D4818;
}
#ex3{
    color: #314028; 
    text-shadow: 0px 1px #9D4818;
}
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}


table.skills{
border-radius: 10px;
 color: black;
 margin-top: 50px;
 min-width: 375px;
 width: 100%; 
 text-align: center;
    
}

.projeto{
   
    padding: 90px;
    
}



#botao input {

    padding: 5px ;
    cursor: pointer;
    background-color: #314028;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #9D4818;
    
}

@media (max-width: 768px) {
    table {
        display: block;
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .image {
        text-align: center;
        margin-bottom: 20px;
    }

    .experience {
        padding-left: 0;
    }

    .experience h4 {
        font-size: 16px;
    }

    .experience p {
        font-size: 12px;
    }

    .profissional h2 {
        font-size: 20px;
    }
}


#botao2 input {
   
    padding: 5px ;
    cursor: pointer;
    background-color: #314028;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #9D4818;
    text-align: center;
}

.final{
    text-align: left;
    float: right;
}
footer{
    background-color: black;
    padding: 0px;
    margin: 5px;
}




  
   
 
    
   
    

/* Media query for mobile devices */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;  /* Stack the logo, nav, and search icon */
        align-items: center;  /* Center the items */
    }

    .navigation {
        margin-top: 10px;
        flex-direction: column;  /* Stack the links vertically */
        align-items: center;
    }

    .navigation a {
        margin: 5px 0;
    }

    .search-icon {
        margin-top: 10px;
    }
}

